<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  @if ($slots.title)
  {{{ await $slots.title() }}}
  @else
  <title>AquaSentinel</title>
  @endif

  @if ($slots.meta)
  {{{ await $slots.meta() }}}
  @endif

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  <script src="https://unpkg.com/alpinejs" defer></script>
  <link rel="stylesheet" href="/css/app.css" />
  <meta name="csrf-token" content="{{ csrfToken }}">
  <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
</head>

<header class="bg-white shadow p-4">
  <div class="container mx-auto flex justify-between items-center">
    <a href="/publicDashboard" class="text-lg font-bold text-blue-700">AquaSentinel</a>

    <a href="/login"
      class="inline-flex items-center gap-2 px-4 py-2 text-sm font-medium text-white bg-blue-600 rounded-lg shadow hover:bg-blue-700 transition">
      <i class="fas fa-sign-in-alt"></i>
      Login
    </a>
  </div>
</header>

<main class="py-8">
  {{{ await $slots.main() }}}

</main>

<footer class="text-center text-gray-400 text-sm py-4">
  &copy; {{ new Date().getFullYear() }} AquaSentinel
</footer>
</body>

</html>